<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Akashic Record</title>
</head>
<body>
    
    <div class="card-deck">
        <div class="card-body">
            <div class="border">
                <p style="text-align: center; font-size: x-large;">AKASHIC RECORD</p>
            </div>
            <div class="border">
                <h2 style="text-align: center;"  th:text="${record}"></h2>
            </div>
            <div class="d-flex text-center" style="width: 10rem; margin: 0 auto 10px;">
            <form class="form-group"
                  th:action="@{/akashic-record/add-record}"
                  method="POST">
                  <label class="col-form-label" for="record-textarea">Tell me anything</label>
                  <textarea class="form-control" name="record" id="record-textarea" placeholder="Insert a record" required></textarea>
                <br>
                <div style="text-align:center">
                    <button style="margin: 0 auto 20px;" class="btn btn-sm btn-primary" type="submit">Insert to Record</button>
                    <button class="btn btn-sm btn-primary" onclick="location.reload()">Tell me a random record</button>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>