<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Magic Knight Simulation</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

<div id="main">
    <div id="header">
        Click one of the magic to start learning it. Your Magic knight will try to learn it. Let's see whether  if he can learn it or not :)
    </div>

    <div id="hint">
        You will get magician with random abilities. You can hit reset button to get another. Perhaps with better magical power?
    </div>

    <div class="row">
        <div class="col-md-6 card" style="width: 18rem;" id="magician-container">
            <div class="card-header">
                <h3>Magic List</h3>
            </div>
            <ul  class="list-group list-group-flush">

                <li class="list-group-item" v-for="magic in magics" v-on:click="learnMagic(magic)" style="cursor: pointer">
                    <h5>Name : {{ magic.magicName }} </h5>
                    <h5>Ability: {{magic.cast }}</h5>
                </li>
            </ul>
        </div>

        <div class="col-md-6 card" style="width: 18rem;" id="magic-container">
            <div class="card-header">
                <h3>Magic Knight</h3>
            </div>
            <ul  class="list-group list-group-flush">
                <li class="list-group-item">
                    <h5>{{magicKnight.learn}}</h5>
                </li>
                <li class="list-group-item">
                    <h5>{{magicKnight.attack}}</h5>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="text-center">
                <button class="btn btn-primary" id="singlebutton" style="margin-top: 20px" v-on:click="reset"> Reset</button>
            </div>
        </div>
    </div>



</div>


<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
<script>
    var app = new Vue({
        el: '#main',
        data() {
            return {
                magics : {},
                magicKnight:{}
            }
        },
        methods : {
            fetchData:async function () {
                await axios.get("/api/magic").then(resp => {
                    this.magics = resp.data;
                });
                await axios.get("/api/magician").then(resp => {
                    this.magicKnight = resp.data;
                });
            },
            learnMagic:async function (magic) {
                axios.post("/api/learn", {
                    magicName: magic.magicName
                }).then(resp => {
                    this.fetchData();
                })
            },
            reset:async function () {
                axios.post("/api/reset").then(resp => {
                    this.magicKnight = resp.data;
                })
            }
        },
        created () {
            this.fetchData();
        }
    })
</script>
<style>
    #magic-container, #magician-container {
        margin-top: 50px;
        width: 50%;
    }
    #header, #hint{
        text-align: center;
        margin-top: 20px;
    }

</style>
</body>
</html>